#bodyBackground{
	background-repeat: no-repeat;
	background-size: 100%;
}
#divOne{
	width: 170px;
	border: 3px solid black;
	margin: 15px;
	padding: 15px;
	background-color: #c97126;
}
#d1H1Header{
	font-weight: bold;
	font-size: 20pt;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
}
#divTwo{
	background-color: #fbe6cb;
	width: 320px;
	border: 3px solid black;
	margin: 15px;
	padding: 14px;
}

#d2PGameRules{
	color: #41a53f;
	font-style: normal;
	font-family: Verdana, Geneva, sans-serif;
}
.targeScore{
	background-color: #5bc97e;
	margin: 10px;
	padding: 10px;
	width: 85px;
	border: 3px solid black;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}
#divThreeOne{
	background-color: #4afdfe;
	border: 3px solid black;
	margin: 15px;
	padding: 10px;
	width: 80px;
	border: 2px;
	font-family: Verdana, Geneva, sans-serif;
}
#cryGem1{
	width: 10%;
	margin: 5px;
	float: left;
	padding: 5px;
	border: 2px solid black;
}
#cryGem2{
	width: 10%;
	margin: 5px;
	float: left;
	padding: 5px;
	border: 2px solid black;
}
#cryGem3{
	width: 10%;
	margin: 5px;
	float: left;
	padding: 5px;
	border: 2px solid black;
}
#cryGem4{
	width: 10%;
	margin: 5px;
	float: left;
	padding: 5px;
	border: 2px solid black;
}
#divFive{
	background-color: #2ba296;
	border: 2px solid black;
	color: white;
	width: 70px;
	margin: 15px;
	border: 3px;
	float: bottom;
}